body {
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
    background: url('logo.jpg') no-repeat center center/cover;
    color: #a29a2b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

        header {
            position: absolute;
            top: 0;
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: 20px;
            background: rgba(148, 130, 130, 0.5); 
        }
        
        
        .logo {
            font-size: 20px;
            font-weight: bold;
        }
        nav ul {
            list-style: none;
            display: flex;
            gap: 20px;
        }
        nav a, .auth-buttons a {
            color: white;
            text-decoration: none;
            font-size: 16px;
        }
        .auth-buttons a {
            border: 1px solid white;
            padding: 5px 10px;
            border-radius: 5px;
        }
        main {
            max-width: 600px;
            text-align: left;
            position: absolute;
            left: 10%;
            top: 40%;
        }
        h1 {
            font-size: 50px;
            margin-bottom: 20px;
        }
        p {
            font-size: 16px;
            opacity: 0.7;
            margin-bottom: 20px;
        }
        .learn-more {
            display: inline-block;
            padding: 10px 20px;
            border: 1px solid white;
            border-radius: 5px;
            text-decoration: none;
            color: white;
            font-size: 16px;
        }